<html>
  <head>
    <title>Planet | Sign Up</title>
    <script src="/static/scripts/lib/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
  </head>
  <body>
    <div class="nav">
      <h1>Planet</h1>
      <p>
        <a href="/account/login">Log in</a>
        |
        <a href="/account/signup">Sign up</a>
        |
        <a href="/">Return to Home</a>
      </p>
    </div>
    <div class="acc-form">
      <h1>Sign up</h1>
      <form method="POST">
        Username: <br/>
        <input type="text" name="username"/> <br/>
        Password: <br/>
        <input type="password" name="password"/> <br/>
        <button type="submit">Sign up</button>
      </form>
    </div>
  </body>
</html>
